@media (max-width: 768px) {

.menu {
    display: none;
}

.banner div {
    width: auto;
    margin: auto;
}

.info {
    flex-direction: column;
    position: relative;
    top: auto;
}

.info div {
    width: auto;
    margin: 1em;
}

.info-ghost {
    display: none;
}
}